Repository hmcts/fact-data-api, pull requests merged in 2025-10, with the labels that each got.

#5 FACT-2484 Helm charts fix
  README.md
  charts/fact-data-api/Chart.yaml
Labels: ns:fact, rel:fact-data-api-pr-5, prd:fact

#7 FACT-2484 switched to storageV2
  infrastructure/storage-account.tf
Labels: ns:fact, prd:fact, aat/add-or-update, prod/add-or-update, rel:fact-data-api-pr-7

#8 FACT-2484 Added perms for SA
  infrastructure/storage-account.tf
Labels: ns:fact, prd:fact, aat/add-or-update, prod/add-or-update, rel:fact-data-api-pr-8

#18 FACT-2484 Try publish reports
  Jenkinsfile_CNP
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-18

#20 Package update
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/openapi/OpenAPIPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/Application.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/controllers/RootController.java
  src/smokeTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SampleSmokeTest.java
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-20

#12 FACT-2484 Added connection to kv
  charts/fact-data-api/Chart.yaml
  charts/fact-data-api/values.yaml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-12

#21 Use new ingress
  charts/fact-data-api/Chart.yaml
  charts/fact-data-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-21

#23 FACT-2483 database setup
  Jenkinsfile_CNP
  README.md
  bin/run-in-docker.sh
  build.gradle
  charts/fact-data-api/Chart.yaml
  charts/fact-data-api/values.aat.template.yaml
  charts/fact-data-api/values.preview.template.yaml
  charts/fact-data-api/values.yaml
  deploy_local_docker.sh
  docker-compose.yml
  lombok.config
  src/functionalTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/openapi/OpenAPIPublisherTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/fact/data/api/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/config/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/errorhandling/exceptions/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__Add_tables.sql
  src/main/resources/db/migration/V1.2__Foreign_keys.sql
  src/smokeTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/config/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/config/FlywayNoOpStrategyTest.java
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-23

#25 FACT-2483 Fix pipeline flyway
  build.gradle
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-25

#26 FACT-2492 setup initial entities
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/repositories/RegionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/repositories/TranslationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/controllers/DevTestController.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/entities/Region.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/entities/Translation.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/errorhandling/exceptions/NotFoundException.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/repositories/RegionRepository.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/repositories/TranslationRepository.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/services/RegionService.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/services/TranslationService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.3__rename_region_county_to_country.sql
  src/test/java/uk/gov/hmcts/reform/fact/data/api/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/entities/CourtTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/entities/TranslationTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/RegionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/TranslationServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-26

#27 FACT-2535 - Added health and readiness checks
  src/smokeTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SampleSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/fact/data/api/controllers/SmokeTest.java
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-27

#30 FACT-2492 - update initial entity set to use better join handling
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fact/data/api/repositories/TranslationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/entities/Translation.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/fact/data/api/services/TranslationService.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/entities/CourtTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/entities/TranslationTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/RegionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fact/data/api/services/TranslationServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-data-api-pr-30
